Language: Cpp
Standard: c++17
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
IndentCaseLabels: true
NamespaceIndentation: All
FixNamespaceComments: false
SpaceBeforeCpp11BracedList: true
AllowShortFunctionsOnASingleLine: None
IndentAccessModifiers: false
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Never
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: BeforeColon
