Debug/src/**/*.d
Debug/src/**/*.o

Debug/voxel_engine

/build
/cmake-build-**
/screenshots
/out

/world
/worlds/**/*
/settings.toml
/controls.json

/.idea
.vscode
/.vs
*.sln
*.vcxproj
*.filters
*.user

.cache
.settings
.cproject
.project
.fleet
.git
/Default/
AppDir
appimage-build/

# for vcpkg
/vcpkg/
.gitmodules

# macOS folder attributes
*.DS_Store

*~
