CMakeCache.txt

/CMakeFiles

vcpkg_installed/

Debug/src/**/*.d
Debug/src/**/*.o

Debug/voxel_engine

/build

/world
/worlds/**/*
/settings.toml
/controls.json

.vscode
/.vs
*.sln
*.vcxproj
*.filters
*.user

.cache
.settings
.cproject
.project
.git
/Default/
