Debug/src/**/*.d
Debug/src/**/*.o

Debug/voxel_engine

/build

/world
/worlds/**/*

.vscode

.cache
.settings
.cproject
.project
.git
/Default/
/.vs
/settings.toml
/VoxelEngine-Cpp.sln
/VoxelEngine-Cpp.vcxproj
/VoxelEngine-Cpp.vcxproj.filters
/VoxelEngine-Cpp.vcxproj.user
