[Desktop Entry]
Version=1.0
Type=Application
Name=VoxelCore
Comment=Minecraft-like game engine in C++ with OpenGL
TryExec=VoxelCore
Exec=VoxelCore
Icon=VoxelCore
MimeType=image/x-foo;
Categories=Game;
