name: Windows Build

on:
  push:
    branches: [ "main", "release-**"]
  pull_request:
    branches: [ "main" ]

jobs:
  build-windows:

    strategy:
      matrix:
        include:
          - os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Set up vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          cd vcpkg
          .\bootstrap-vcpkg.bat
          .\vcpkg integrate install
          cd ..
      - name: Configure and build project with CMake and vcpkg
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DVOXELENGINE_BUILD_WINDOWS_VCPKG=ON -DVOXELENGINE_BUILD_TESTS=ON ..
          cmake --build . --config Release
      - name: Run tests
        run: ctest --output-on-failure --test-dir build
      - name: Run engine (headless)
        run: build/Release/VoxelEngine.exe --headless --dir userdir
        timeout-minutes: 1
#      - name: Package for Windows
#        run: |
#          mkdir packaged
#          cp -r build/* packaged/
#          cp C:/Windows/System32/msvcp140.dll packaged/Release/msvcp140.dll
#          mv packaged/Release/VoxelEngine.exe packaged/Release/VoxelCore.exe
#        working-directory: ${{ github.workspace }}
#      - uses: actions/upload-artifact@v4
#        with:
#          name: Windows-Build
#          path: 'packaged/Release/*'
